.leftColumn
  =render partial: 'idea_filters', locals: {idea_state_filter_params: @idea_state_filter_params, idea_states: @idea_states, offices: @offices, idea_office_filter_params: @idea_office_filter_params }

.centerColumn
  %h2.ib Latest Ideas
  .modal.js-modal.fr
    %span.btn-blue.js-modal-trigger Add Idea
    .modal-content.js-modal-content
      = render partial: 'idea_form', locals: {idea: @idea}


  -if @ideas.length
    %ul.ideasList
      = render partial: 'idea', collection: @ideas

.rightColumn


