.tag {
  display: inline-block;
  border-radius: 5px;
  line-height: 12px;
  padding: 10px 15px;
  text-transform: uppercase;
  color: white;
}

.tag-lightBlue {
  background-color: #b4e4ee;
}

.tag-purple {
  background-color: #e4d3f1;
}

.tag-red {
  background-color: #f6b8bb;
}

.tag-orange {
  background-color: #f9cbb0;
}


.tag-green {
  background-color: #aae689;
}
